<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Aceable Piloting</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="text-center text-white">Flying Robots</h1>
        </div>
        <div id="app" class="container">
            <div class="row">
                <div v-if="products" v-for="product in productsByPrice" class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="img/lapieal_misage1_1006.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-weight-bold">{{product.title}}</h5>
                          <p class="card-text font-weight-light">{{product.description}}</p>
                          <p class="card-text text-success">${{product.price}}</p>
                          <a href="#" class="btn btn-primary">Start Learning</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
